<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguiug.gmall190218.publisher.mapper.DauMapper">
    <select id="getDauTotal" resultType="java.lang.Integer">
        select count(*) from gmall190218_dau where logdate = #{date}
    </select>
</mapper>
